.sc1 {
  /* border: 2px solid orangered; */
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.sc2 {
  background-color: #f64549;
  color: white;
}
.sc3 {
  background: #f645481f;
}

.sc4 {
  z-index: -10;
}
